/***************************************************/
html {
	width: 100%;
	height: 100%;
}
body {
	background: #F3F7F7;
	width: 100%;
	height: 100%;
	margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
section {
	width: 100%;
	height: 100%;
}
main {
	width: 100%;
	height: 100%;
}
button {
	cursor: pointer;
}
button:focus {
	outline:0;
}


/************ app container ************/
#sidebar {
	width: 35%;
	height: calc(100% - 65px);
	background-color: rgba(32, 45, 48, 0.85);
	position: absolute;
	right: 0;
	transition: .6s all ease;
	z-index: 998;
	overflow-y: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	box-sizing: border-box;
	bottom: 0;
}

#map {
	height: calc(100% - 65px);
	width: 65%;
	bottom: 0;
	position: absolute;

}


/************ header ************/
header {
	background: #2E3D4C ;
	text-align: center;
	height: 65px;
	width: 100%;
	position: absolute;
	color: #8FB2B2;
}

header article {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 35px;
	padding-top: 10px;
	display: inline-block;
}

header ul {
	padding-right: 10px;
	float: right;
	list-style-type: none;
}

header ul img {
	height: 35px;
}

header h1 {
	letter-spacing: 1px;
}

header a img {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

header a img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}


/************ leaflet map ************/
#mapStyle {
	height: calc(100% - 115px);
	width: 100%;
	position: absolute;
	bottom: -50px;
	overflow: hidden;
}

.attribution {
	padding-top: 0;
	font-size: 0.8em;
	text-align: center;
	color: #506C89 ;
	background: rgba(194, 214, 214, 0.5);
}

.attribution a {
	color: #E6E6E6;
}

.info {
	padding: 0.375em .5em;
	font: 1.5em/2em Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 .938em rgba(0,0,0,0.2);
	border-radius: .3em;
}
.info h4 {
	margin: 0 0 .3em;
	color: #777;
}

.legend {
	font-size: 1.5em !important;
	line-height: 1.125em;
	color: #555;
}
.legend h5{
	margin: 0.2em;
}
.legend i {
	width: .5em;
	height: .5em;
	float: left;
	margin-right: .5em;
	opacity: 0.7;
}

#buttonWrapper {
	z-index: 1000;
	position: inherit;
	bottom: 35%;
	left: 0%;
}

#buttonWrapper button{
	border-radius: 100%;
	padding-right: 30px;
}

#parkButton {
	display: inline-block;
	height: 5em;
	width: 5em;
	background-color: white;
	background-image: url('http://innatrichmond.com/wp-content/uploads/2015/06/favicon2.png');
	background-repeat: no-repeat;
}

#crimeButton {
	display: inline-block;
	height: 5em;
	width: 5em;
	background-color: white;
	background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/48/knife.png');
	background-repeat: no-repeat;
}

/************ d3 chart  ************/
.graphs {
	padding: 0 2em 2em 2em;
	margin: 0 auto;
}

.arc:hover {
	opacity: .75;
}

rect {
	fill: rgba(31, 119, 180, 1);
	transition: fill 0.3s ease;
}

rect:hover {
	fill:rgba(255,60,60,.8);
}

text {
	letter-spacing: 0;
	fill: #FFF;
}

svg#relation {
	display: block;
	margin: 0 auto;
}

#relationshipContainer .total{
	font-size: 18px;
	font-weight: bold;
}
#relationshipContainer .units{
	fill: #8FB2B2;
	font-size: 12px;
}
#relationshipContainer .label{
	fill: #CCC;
	font-size: 12px;
	font-weight: bold;
}
#relationshipContainer .value{
	font-size: 18px;
	font-weight: bold;
}

#intro {
	font-size: 1.8em;
	justify-content: flex-start;
	text-align: left;
	z-index: 999;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	margin-left: .5em;
	margin-top: -1em;
	top: 0;
	color: #FFF;
}

h1 img {
	display: block;
	margin: 0 auto;
	padding-bottom: 1em;
}

#intro h1 {
	text-align: center;
	top: 2em;
	margin-bottom: 0;
	margin-right: 2em;
}
#intro p {
	text-align: left;
	font-size: 0.76em;
}


#allGraphsContainer {
	display: none;
}
.graphWrap h1 {
	text-align: center;
	margin-bottom: 0;
	color: #8FB2B2;
}

#hoodName {
	text-align: center;
	color: #E6E6E6 ;
	letter-spacing: 1px;
	font-size: 2em;
	margin-bottom: 0;
}

#hoodIncome {
	text-align: center;
	color: #FFF;
	font-size: 1.6em;
	margin-top: .5em;
}
