/***************************************************/
html {
	width: 100%;
	height: 100%;
}
body {
	background: #F3F7F7;
	width: 100%;
	height: 100%;
	margin: 0;
}
section {
	width: 100%;
	height: 100%;
}
main {
	width: 100%;
	height: 100%;
}

/************ app container stuff ************/
#sidebar {
	width: 35%;
	height: calc(100% - 65px);
	background-color: rgba(32, 45, 48, 0.85);
	position: absolute;
	right: 0;
	transition: .6s all ease;
	z-index: 999;
	overflow-y: auto;
	padding-top: 1em;
	box-sizing: border-box;
	bottom: 0;
}

#mapWrapper {
	height: calc(100% - 65px);
	width: 65%;
	bottom: 0;
	position: absolute;
	
}

/************ d3 chart js stuff ************/
.graphs {
	padding: 2em;
	border: 1px solid #FFF;
	display: block;
	margin: 0 auto;
}

.arc:hover {
	opacity: .75;
}

rect {
	fill: rgba(70, 130, 180, .6);
	transition: fill 0.3s ease;
}

rect:hover {
	fill:rgba(255,60,60,.6);
}

text {
	letter-spacing: 0;
	fill: #FFF;
}


/************ header ************/
header {
	background: #1a1a1a;
	height: 65px;
	width: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	color: #fff;
}

/************ leaflet map stuff ************/
#mapStyle {
	height: calc(100% - 65px);
	width: 100%;
	position: absolute;
	bottom: -65px;
	overflow: hidden;
}

.attribution {
	font-size: 0.8em;
	text-align: center;
	color: #506C89 ;
	background: rgba(194, 214, 214, 0.5);
}
.attribution a {
	color: darkgray;
}

.info {
	padding: 0.375em .5em;
	font: 1.5em/2em Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 .938em rgba(0,0,0,0.2);
	border-radius: .3em;
}
.info h4 {
	margin: 0 0 .3em;
	color: #777;
}

.legend {
	font-size: 1.5em !important;
	line-height: 1.125em;
	color: #555;
}
.legend h5{
	margin: 0.2em;
}
.legend i {
	width: .5em;
	height: .5em;
	float: left;
	margin-right: .5em;
	opacity: 0.7;
}

#intro {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	/*right: 3.8em;*/
	left: 67%;
	top: 0;
	color: white;
	opacity: 0.8;
	display: none !important; /*TAKE THIS OUT LATER*/
}

#intro h1 {
	top: 2em;
	margin-bottom: 0;
}

